body{
    background-color: rgba(31, 59, 55, 0.667);
    
}

*{
    margin-left: 0px;
    margin-right: 0px;

}

h1, h3{
    color:black;
    display:flex;
    height:20px;
    flex: auto;
    justify-content:space-around;

}

button {
    border-radius: 5px;
}

/* #allScores{
    display:flex;
    
    
} */

.container{
    display:flex;
    flex:auto;
    justify-content:space-around;
    align-items: center;
    


}

.container2{
    display:flex;
    flex:auto;
    justify-content:space-around;
    align-items: center;
    flex-direction: column;
    width: 50px;
    height: auto;

}

#finalResult{
    display: flex;
    justify-content:center;
    align-items:center;
    background: rgb(197, 96, 96);
 
}


#rock {
    display: flex;
    justify-content:space-around;
    align-items:center;
    height:50px;
    margin:5px;
    background-color:rgb(165, 119, 50)
    /* border: 3px solid black; */
    /* border-radius: 5px; */


}
#paper {
    display: flex;
    justify-content:space-around;
    align-items:center;
    height:50px;
    margin:5px;
    background-color: rgb(163, 155, 155);
    /* border: 3px solid black; */
    /* border-radius: 5px; */


}

#scissors {
    display: flex;
    justify-content:space-around;
    align-items:center;
    height:50px;
    margin:5px;
    background-color: rgb(131, 197, 228);
    /* border: 3px solid black; */
    /* border-radius: 5px; */


}


#score{
    white-space: nowrap;
    overflow-x: auto;
    background-color: rgb(16, 63, 63);
    border: solid black;
    padding: 5px;
    display:flex;
    justify-content: space-between;
    align-items: center;

}

#scoreCPU{
    white-space: nowrap;
    overflow-x: auto;
    background-color: rgb(6, 43, 43);
    border: solid black;
    border-top: 0px;
    padding: 5px;

}
/* .player{
    /* display:inline-block; */
    /* padding-left: 20px;
    float: left;
   
} */ */

#computer{
    /* display:inline-block; */
    padding-left: 20px;
    float: left;
}
p{
    float: left;

}
#computador{
    padding-left: 5px;
    padding-top: 0px;
    padding-right: 0px;
    float: left;
    
    

}
#humano{
    padding-left: 5px;
    padding-top: 0px;;
    padding-right: 0px;
    float: left;
    

}

#scoreHumano{
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 0px;;
    float: left;

}

#scoreComputador{
    padding-left: 5px;
    padding-right: 0px;
    padding-top: 0px;;
    float: left;

}

#roundScoreH{
    padding-left: 5px;
    padding-top: 0px;;
    float: left;

}

#roundScoreC{
    padding-left: 5px;
    padding-top: 0px;;
    float: left;

}

#scissors:hover {
    color:blanchedalmond;
    background-color: rgb(87, 81, 81);
}
#rock:hover {
    color:blanchedalmond;
    background-color: rgb(87, 81, 81);
}
#paper:hover {
    color:blanchedalmond;
    background-color: rgb(87, 81, 81);
}

.player{
    background: solid rgb(13, 9, 34);
    color: rgb(253, 253, 253);
    width: 250px;
    height: auto;
    
}


.CPU{
    background: solid rgb(13, 9, 34);
    color: rgb(255, 255, 255);
    width: 250px;
    height: auto;
    
}

.space{
    display:flex;
    justify-content: space-between;
    align-items: center;
}